body{
    font-family: "Oswald", sans-serif;
    font-weight: 400
}
h1{
    color:blue;
    font-family: "Oswald", sans-serif;
}

.jumbotron{
    display:flex;
    align-items: center;
    background-image: url('https://storage.needpix.com/rsynced_images/indian-jungle-crow-300941_1280.jpg');
    background-size: cover;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

section .row img{
    margin: 0 0 30px;
    width: 100%;
}