body{
    font-family: "Oswald", sans-serif;
    font-weight: 400
}
h1{
    color:blue;
    font-family: "Oswald", sans-serif;
}

.jumbotron{
    display:flex;
    align-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/93/Carrion_crow_calling_02.jpg');
    background-size: cover;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}
.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}
section .row img{
    margin: 0 0 30px;
    width: 100%;
}