body{
    font-family: "Oswald", sans-serif;
    font-weight: 400;
    background-color: grey;
}

header{
    padding: 30px 0;
}
header .row, footer.row {
    display:flex;
    align-items: center;
}
header nav {
    display:flex;
    justify-content: flex-end;
    font-weight: 400;
}
header p{
    padding: 0 20px;
    margin: 0;
}
header h1{
    color:blue;
    font-family: "Gravitas One", sans-serif;
    font-size: 80px;
}

.jumbotron{
    display:flex;
    align-items: center;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/9/93/Carrion_crow_calling_02.jpg');
    background-size: cover;
    height: 500px;
    text-shadow: 0.25px 0.25px 0.25px #000000;
}

.jumbotron h2{
    font-size: 60px;
    font-weight: 700;
    margin: 0;
    color: #fff;
}
.jumbotron h3 {
    margin: 0 0 20px;
    color: #fff;
}
section .row img{
    margin: 0 0 30px;
    width: 100%;
}

.btn.btn-primary {
    border-radius: 2px;
    border: 0px;
    color: white;
    text-shadow: none;
    background-color:#000000;
}
.btn.btn-primary:hover{
    color: #000000;
    background-color: white;
}
.container p {
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: 400
}
.container ul {
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: 400
}
.container li {
    align-items: center;
    margin: 0;
    font-size: 40px;
    font-weight: 400
}

footer p{
    align-items: left;
    margin: 0;
    padding: 0 20px;
}